html {
  background-color: #c9b5ab;
  font-family: PT Sans, bold;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-family: PT Sans, bold;
}

a {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #8f2440;
  text-decoration: none;
}

h2 {
  color: #3f1622
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: .8rem;
}

main + p { *********
  font-size: 1.125rem;
  font-style: bold;
}

ul {
  list-style-type: circle;
}

nav ol {
  list-style-type: none;
}

aside ol {
  list-style-type: lower-greek;
}
 span {
   font-style: italic;
 }

dl dt {
  font-style: bold;
}



Typefaces: PT Sans (bold), PT Serif (regular, italic, bold) — from Google Fonts
Text sizes: 1.5rem, 1.125rem, 0.8rem
Line height: 1.5
Colours: #c9b5ab, #8f2440, #222, #3f1622
