html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", bold;
}

a {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
  text-decoration: none;
}

h2 {
  color: #3f1622;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: .8rem;
  text-align: center;
}

p {
  font-size: 1.125rem;
  font-weight: normal;
}

ul {
  list-style-type: circle;
  font-size: .8rem;
}

nav ol {
  list-style-type: none;
}

aside ol {
  list-style-type: lower-greek;
}

span {
  font-style: italic;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

cite {
  font-size: .8rem;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

dt {
  font-weight: bold;
}

footer + p {
  font-size: .8rem;
}
